<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>landing-page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </head>
  <body>

    <!-- navigation bar -->

    <nav class="navbar navbar-expand-lg bg-light">
      <a class="navbar-brand" href="">company</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Solutions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Pricing</a>
          </li>
        </ul>

          <ul class="left navbar-nav">
            <li><a href=" ">Login</a></li>
          </ul>

      </div>
    </nav>

        <!-- ABOUT US -->

        <div class="top hvr-grow">
          <h1>About Us</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur accumsan dui at congue. Duis vel dui sit amet leo faucibus ultrices.Nullam mauris ex, rhoncus vitae mattis at, vehicula id odio. Mauris id bibendum risus, sed posuere eros. In hac habitasse platea dictumst.</p>
        </div>

          <!-- CARDS -->

          <section class="middle_section">
            <div class="card-grid">


              <!-- FIRST CARD -->
              <a class="card" href="#">
          <div class="card__background" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">novel</p>
                  <h3 class="card__heading">A WALK TO REMEMBER</h3>
                </div>
              </a>
              <!-- SECOND CARD -->
              <a class="card" href="#">
                <div class="card__background" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">NOVEL</p>
                  <h3 class="card__heading">IKIGAI</h3>
                </div>
              </a>
              <!-- THIRD CARD -->
              <a class="card" href="#">
              <div class="card__background" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">novel</p>
                  <h3 class="card__heading">THE POWER OF HABBIT</h3>
                </div>
        <!-- FOURTH CARD -->
              <a class="card" href="#">
                <div class="card__background" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">Category</p>
                  <h3 class="card__heading">Example Card Heading</h3>
                </div>
              </a>
              <div>
          </section>
          </div>




  </body>
</html>
